file_connector/src/main/mule/file_connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="6419dd26-5903-4b38-adf6-722db67f090d" />
	<flow name="file_connectorFlow" doc:id="40625616-b836-4251-b070-f97aaa63dd72" >
		<file:listener doc:name="On New or Updated File" doc:id="fa020e28-dc13-45e4-9c55-befc66610205" config-ref="File_Config" directory="C:\Users\HANNAH\Desktop\fileconnector\file\INPUT\4" moveToDirectory="C:\Users\HANNAH\Desktop\fileconnector\file\OUTPUT" applyPostActionWhenFailed="false">
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES" />
			</scheduling-strategy>
		</file:listener>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="66839d2a-80a8-4807-b8c2-f11206f60796" />
		<logger level="INFO" doc:name="Logger" doc:id="84b23dd7-e2ae-45c1-a0e2-07f3cad7b334" message="new file is moved  the database is : #[payload]"/>
	</flow>
</mule>
